body {
    background-color: #555;
    color: #eee;
}

h1 {
    color: #bbb;
    text-decoration: underline;
    text-decoration-color: #a00;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

.form-control {
    background-color: #888;
    border-color: #444;
    margin-bottom: 20px;
}

.form-control[type="file"]::file-selector-button {
    background-color: #444;
    color: #eee;
}

.form-control[type="file"]:hover::file-selector-button {
    color: #333;
}

#laptime-table {
    margin-left: 1vw;
    width: 98vw;
}
